---
import MoonIcon from "../assets/moon.svg";
const { lang, t } = Astro.props;
const alternateLang = lang === "es" ? "en" : "es";
---

<nav class="navbar">
    <ul class="nav-links">
        <li><a href="#about">{t.nav.about}</a></li>
        <li><a href="#projects">{t.nav.projects}</a></li>
        <li><a href="#contact">{t.nav.contact}</a></li>
    </ul>

    <div class="actions">
        <a href={`/${alternateLang}`}>
            {alternateLang.toUpperCase()}
        </a>

        <button id="theme-toggle">
            <img id="theme-icon" src={MoonIcon.src} alt={t.themeToggle} />
        </button>
    </div>
</nav>

<script>
    import "../scripts/theme.ts";
</script>
